
tr:nth-child(even){
    background-color: #565b63
}


table tr button {
    opacity:0; 
    float:right;
}

table tr:hover button {
    opacity:1 
}
.tablee {
    width: 100%;
    margin-bottom: 1rem;
    color: #f8f8f8;
  }
  

  
.tablee  {
    vertical-align: bottom;
    border: 4px solid #0f110e
  }

  
  body {
    background-image: url("C:\xampp\htdocs\school\back.jpg");
  }