
tr:nth-child(even){
    background-color: #565b63
}


table tr button {
    opacity:0; 
    float:right;
}
.pLink{
  font-size: large;
  color: #6f8171;
}

table tr:hover button {
    opacity:1 
}
.tablee {
    width: 100%;
    margin-bottom: 1rem;
    color: #f8f8f8;
    vertical-align: bottom;
    border: 4px solid #0f110e
}

body {
    background-image: url("http://localhost/school/images/back.jpg");
}

.upPannel{
  /*border: solid 3px rgb(14, 3, 24);*/
  background-color: rgb(168, 168, 168,0.1);
  border-radius: 1rem 1rem 1rem 1rem;
  margin: 0.5rem;
  height: 7rem;
  width: 100%;
}

.Pannel{
  border: solid 3px rgb(14, 3, 24);
  background-color: rgba(185, 198, 255, 0.3);
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  height: 100%;
  width: 100%;
}

.left{
  margin-left: 1.2rem;
}

.loader {
  display: none;
  border: 10px solid;
  border-color: #b9cfff #343a40 #343a40;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  animation: spin 2s linear infinite 0s;
}

p.naber{
  color: aliceblue;
  font-size: large;
  background-color: aqua;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}