td, th{
    border: 2px solid #cccccc;
    padding: 3px;
}

table {
    margin-left: 3%;   
    width: 92%;
    border-collapse: collapse;
    border:2px solid #cccccc;
}

tr:nth-child(even){
    background-color: #dddddd;
}

tr:hover{
    background-color:rgb(109, 106, 103);
}

th:hover{
    color: darkgrey;
}

